@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --clr-blue: hsl(231, 69%, 60%);
  --clr-navy: hsl(229, 31%, 21%);
  --clr-clear-navy: hsla(229, 31%, 21%, 0.9);
  --clr-red: hsl(0, 94%, 66%);
  --clr-text: hsl(229, 8%, 60%);
  --transition: all 0.3s linear;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 10.375rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-text);
}

h1, h2, h3 {
  color: var(--clr-navy);
}
h1{
  font-size:2.75rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--clr-navy);
  transition: var(--transition);
}
a:hover {
  color: var(--clr-red);
}

button{
  color: white;
  font: inherit;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}
.btnBlue{
  background-color: var(--clr-blue);
  border: 2px solid var(--clr-blue);
}
.btnBlue:hover{
  background-color: white;
  color: var(--clr-blue);
}
.btnGrey{
  background-color: #f7f7f7;
  border: 2px solid #f7f7f7;
  color: grey;
}
.btnGrey:hover{
  background-color: white;
}
.btnRed{
  background-color: var(--clr-red);
  border: 2px solid var(--clr-red);
}
.btnRed:hover{
  background-color: white;
  color: var(--clr-red);
  box-shadow: 0 0.5rem 5px rgba(94, 94, 245, 0.068);
}


@media (max-width: 900px) {
  body{
    padding-top: 7.875rem;
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
  }
}